.dbg * {
  border: solid 1px #ccc; }

a {
  color: initial;
  text-decoration: initial; }

body {
  background-color: #fff;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column; }
  body #views {
    flex: 1; }
  body img.wallpaper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1000; }

h2 {
  margin: 0 0 .5em; }

ul.div {
  list-style: none;
  padding-left: 0;
  margin: 0; }

ul.inline-block {
  list-style: none;
  padding-left: 0;
  margin: 0; }
  ul.inline-block li {
    display: inline-block; }

.clear-each > * {
  clear: both; }

.clearfix {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.hidden {
  display: none; }

.overflow-auto {
  overflow: auto; }

.counter-pair {
  border: solid 1px gray;
  border-radius: 4px;
  margin: 0 .5em;
  font-family: Sans;
  font-size: 85%; }
  .counter-pair .name {
    background: #eee;
    display: inline-block;
    padding: .1em .4em;
    border-right: solid 1px gray;
    border-radius: 4px 0 0 4px;
    cursor: pointer; }
    .counter-pair .name:hover {
      background: #ddd; }
    .counter-pair .name i.fa {
      margin: 0 .2em; }
  .counter-pair .val {
    display: inline-block;
    padding: .1em .4em; }

.kbd {
  display: inline-block;
  padding: 3px 5px;
  margin: 3px;
  border: solid 1px #000;
  background: #eee;
  font-family: Sans; }

.stack {
  position: relative; }
  .stack > div {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto; }
    .stack > div:not(.selected) {
      display: none; }

#footbar {
  padding: 3px 2em;
  border-top: solid 1px #ccc;
  background: #eee;
  color: gray;
  text-align: center;
  font-family: Serif; }

#proj-info {
  background: #fafaff;
  position: relative;
  padding: 1em 2em .5em; }
  #proj-info h2 {
    margin: 0; }
  #proj-info .subtitle {
    font-style: italic; }
  #proj-info [k=stats] {
    position: absolute;
    top: 1em;
    right: 2em; }

#sitebar {
  padding: 12px 16px 4px;
  background: #888; }
  #sitebar .icon {
    margin-top: -6px;
    padding-bottom: 6px; }
  #sitebar .site-nav {
    margin-left: 1em; }
    #sitebar .site-nav > li {
      color: #fff;
      cursor: pointer;
      font-weight: bold;
      font-family: sans;
      font-size: 18px;
      margin: 0;
      padding: .1em .5em;
      border: solid 1px transparent;
      border-radius: 4px; }
      #sitebar .site-nav > li:hover {
        background: #9ca; }
      #sitebar .site-nav > li a {
        color: #fff; }

#top.hide {
  background: #89a;
  height: 5px; }
  #top.hide * {
    display: none; }

#view-nav {
  background: #fafaff;
  padding: .5em 2em 0;
  border-bottom: solid 1px gray;
  white-space: nowrap; }
  #view-nav > a {
    display: inline-block;
    padding: .3em 1em;
    margin-bottom: -1px;
    cursor: pointer;
    border: solid 1px transparent;
    border-bottom: solid 1px gray;
    border-radius: 4px 4px 0 0;
    font-family: Sans;
    font-size: 14px; }
    #view-nav > a:hover {
      background: #fff;
      border: solid 1px gray;
      border-bottom-color: #fff; }
    #view-nav > a.selected {
      background: #fff;
      border: solid 1px gray;
      border-bottom-color: #fff;
      border-top: solid 2px #e96; }

#views > [k=about] {
  margin: 1em; }
#views > [k=options] {
  margin: 1em; }

/*# sourceMappingURL=skel.css.map */
