.palette {
  border: solid 1px #000;
  border-radius: 5px 5px 0 0;
  background: #f8f8f8;
  box-shadow: 3px 3px 5px 0 #aaa; }
  .palette:not(.visible) {
    display: none; }
  .palette > .title {
    cursor: pointer;
    margin: 0;
    padding: 2px;
    background: #ddd;
    border-radius: 5px 5px 0 0;
    border-bottom: solid 1px #000;
    font-family: Sans;
    font-size: 14px; }
    .palette > .title .fa {
      padding: 0 5px; }
  .palette.moving > .title {
    cursor: move; }
  .palette > .content {
    overflow: hidden;
    padding: 4px;
    top: 16px; }

#attrviews {
  position: fixed;
  top: 30px;
  left: 30px;
  min-width: 320px;
  min-height: 50px; }

#footbar {
  padding: 3px 2em;
  border-top: solid 1px #ccc;
  background: #eee;
  color: gray;
  text-align: center;
  font-family: Serif; }

#views > [k=about] {
  margin: 1em; }
#views > [k=options] {
  margin: 1em; }
#views > [k=editor][data-state=erase] {
  cursor: pointer; }
#views > [k=editor] .toolbox {
  float: left;
  width: 80px;
  border-right: solid 1px #aaa; }
  #views > [k=editor] .toolbox li {
    text-align: center;
    border: solid 1px transparent;
    cursor: default; }
    #views > [k=editor] .toolbox li span {
      display: block;
      font-size: 9px;
      font-family: Sans; }
    #views > [k=editor] .toolbox li:hover {
      border-color: #888; }
    #views > [k=editor] .toolbox li.selected {
      border-color: #888; }
  #views > [k=editor] .toolbox li[data-val].selected {
    background-color: #fcc; }
  #views > [k=editor] .toolbox li[data-toggle].selected {
    background-color: #cfc; }
  #views > [k=editor] .toolbox [k=states] {
    border-bottom: solid 1px gray; }
    #views > [k=editor] .toolbox [k=states] li {
      border-radius: 4px;
      margin: 5px;
      padding: 5px;
      width: 60px; }
  #views > [k=editor] .toolbox [k=toggles] {
    border-top: solid 1px gray;
    padding: 5px;
    text-align: center; }
    #views > [k=editor] .toolbox [k=toggles] li {
      display: inline-block;
      margin: 0px;
      padding: 6px;
      width: 18px;
      font-size: 16px; }
  #views > [k=editor] .toolbox #compid {
    padding: 4px;
    font-family: Sans;
    font-size: 16px;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all; }
    #views > [k=editor] .toolbox #compid:hover {
      background: #dff; }
  #views > [k=editor] .toolbox input.inlineEdit {
    min-width: 16px;
    padding: 3px;
    text-align: left;
    background: #dff;
    border: none; }
#views > [k=editor] .root {
  margin-left: 80px;
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: solid 3px #bbb;
  background: #fffafa;
  display: flex; }
  #views > [k=editor] .root.round .block {
    border-radius: 10px;
    overflow: hidden; }
    #views > [k=editor] .root.round .block > .cid {
      border-radius: 10px 0 0 0; }
  #views > [k=editor] .root.fillColor .block {
    border: none !important; }
  #views > [k=editor] .root:not(.fillColor) .block:not(.selected) {
    background: none !important; }
  #views > [k=editor] .root:not(.showTags) .cid {
    display: none; }
#views > [k=editor] .block {
  display: flex;
  position: relative; }
  #views > [k=editor] .block.selected {
    background: #fee !important; }
  #views > [k=editor] .block.dir-row {
    flex-direction: row; }
    #views > [k=editor] .block.dir-row > .block {
      border-right: solid 1px gray; }
  #views > [k=editor] .block.dir-column {
    flex-direction: column; }
    #views > [k=editor] .block.dir-column > .block {
      border-bottom: solid 1px gray; }
  #views > [k=editor] .block > .cid {
    display: inline-block;
    position: absolute;
    padding: 1px;
    background: #eee;
    border: solid 1px #aaa;
    font-family: Sans;
    font-size: 12px;
    cursor: pointer; }
  #views > [k=editor] .block > .ltmp {
    position: absolute; }
    #views > [k=editor] .block > .ltmp[data-type=horiz] {
      width: 100%;
      height: 1px;
      border-bottom: dashed 1px #e16; }
    #views > [k=editor] .block > .ltmp[data-type=vert] {
      width: 1px;
      height: 100%;
      border-right: dashed 1px #e16; }
  #views > [k=editor] .block > .otmp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 5px;
    border: dashed 1px #e16; }
#views > [k=preview] iframe {
  border: 0;
  width: 100%;
  height: 100%; }
#views > [k=export] .flex {
  display: flex;
  flex-direction: row;
  height: 100%; }
#views > [k=export] #filesel {
  flex: 0 0 10em;
  padding: 1em;
  border-right: solid 1px gray;
  font-family: Sans; }
  #views > [k=export] #filesel ul {
    margin: .5em;
    display: block; }
    #views > [k=export] #filesel ul li {
      color: #666;
      border: solid 1px #333;
      border-radius: 4px;
      padding: 3px 6px;
      margin: 3px 0;
      cursor: default; }
      #views > [k=export] #filesel ul li:hover {
        background: #dfe !important; }
      #views > [k=export] #filesel ul li.selected {
        background: #cee; }
#views > [k=export] #dump {
  flex: 1;
  overflow: auto; }
  #views > [k=export] #dump pre {
    overflow: auto;
    margin: 0;
    color: #789; }
  #views > [k=export] #dump .toolbar {
    padding: .5em 1em;
    border-bottom: solid 1px #ccc; }
    #views > [k=export] #dump .toolbar li {
      padding: 2px 5px;
      border: solid 1px transparent;
      cursor: pointer; }
      #views > [k=export] #dump .toolbar li:hover {
        background: #def;
        border: solid 1px gray;
        border-radius: 4px; }
